.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  padding-top: 10px;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}

.profile-name {
  text-align: center;
}
